<p-card class="m-5">
  <form [formGroup]="formProducto" novalidate autocomplete="off" class="p-card-body pt-2">
    <div class="grid">
      <div class="col-4">
        <label for="nombre" class="font-medium">Nombre</label>
        <input id="nombre" type="text" formControlName="nombre" class="p-inputtext ml-1">
      </div>
      <div class="col-4">
        <label for="laboratorioFabrica" class="font-medium">Laboratorio Fabrica</label>
        <input id="laboratorioFabrica" type="text" formControlName="laboratorioFabrica" class="p-inputtext ml-1">
      </div>
      <div class="col-4">
        <label for="codigoProducto" class="font-medium">Codigo Producto</label>
        <input id="codigoProducto" type="text" appOnlyNumbers
        formControlName="codigoProducto" class="p-inputtext ml-1">
      </div>
    </div>
  </form>
  <div class="flex justify-content-end">
    <p-button class="flex-initial flex align-items-center justify-content-center" label="Limpiar"
      styleClass="p-button-rounded p-button-sm surface-600" pTooltip="Limpiar" matTooltipPosition="above"
      (click)="limpiar()">
      <mat-icon>cleaning_services</mat-icon>
    </p-button>
    <p-button class="flex-initial flex align-items-center justify-content-center ml-2" label="Filtrar"
      styleClass="p-button-rounded p-button-sm" pTooltip="Filtrar" matTooltipPosition="above" (click)="filter()">
      <mat-icon>filter_alt</mat-icon>
    </p-button>
  </div>
</p-card>

<div *ngIf="urlAction === '/gestionar-inventario'"
  class="flex align-items-center justify-content-between pt-4 pb-2 width-min">
  <span class="text-2xl font-bold">Productos</span>
  <p-button label="Nuevo" class="ml-auto" styleClass="p-button-rounded p-button-sm bg-red-500" pTooltip="Nuevo"
    matTooltipPosition="above" severity="danger" (click)="guardarMedicamentoDialog()">
    <mat-icon>add</mat-icon>
  </p-button>
</div>

<div *ngIf="urlAction === '/realizar-ventas'"
  class="flex align-items-center justify-content-between pt-4 pb-2 width-min">
  <span class="text-2xl font-bold">Productos</span>
  <p-button label="Vender" class="ml-auto" styleClass="p-button-rounded p-button-sm p-button-success" pTooltip="Vender"
    outlined="true" matTooltipPosition="above" [badge]="productosVenta.length.toString()" badgeClass="p-badge-danger"
    (click)="clickListadoVentaProducto()">
    <mat-icon>add</mat-icon>
  </p-button>
</div>

<p-table *ngIf="products" [value]="products" [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="5">
  <ng-template pTemplate="header">
    <tr>
      <th class="text-center">Seleccionar</th>
      <th class="text-center">Nombre</th>
      <th class="text-center">Laboratorio de fabrica</th>
      <th class="text-center">Fecha de Fabricación</th>
      <th class="text-center">Fecha de Vencimiento</th>
      <th class="text-center">Stock</th>
      <th class="text-center">Valor Unitario</th>
      <th class="text-center">Opciones</th>
    </tr>
  </ng-template>
  <ng-template class="align-items-center" pTemplate="body" let-product>
    <tr>
      <td class="text-center">
        <button *ngIf="urlAction === '/realizar-ventas'" pButton class="p-button-success align-items-center" (click)="clickDetalleVenta(product)"
          [disabled]="product.cantidadStock === 0" icon="pi pi-plus" >
        </button>
      </td>
      <td class="text-center">{{product.nombre}}</td>
      <td class="text-center">{{product.laboratorioFabrica}}</td>
      <td class="text-center">{{product.fechaFabricacion | fechaFormatAMD}}</td>
      <td class="text-center">{{product.fechaVencimiento | fechaFormatAMD}}</td>
      <td class="text-center">{{product.cantidadStock}}</td>
      <td class="text-center">{{product.valorUnitario | currency:'COP'}}</td>
      <td class="text-center flex">

        <p-button (click)="productosVenta.length > 0 ? null:venderMedicamentoDialog(product)"
          styleClass="p-button-success p-button-sm p-button-rounded p-button-text m-1" pTooltip="Vender"
          matTooltipPosition="above" [disabled]="productosVenta.length > 0">
          <mat-icon>point_of_sale</mat-icon>
        </p-button>

        <p-button *ngIf="urlAction === '/gestionar-inventario'"
          styleClass="p-button-warning p-button-sm p-button-rounded p-button-text m-1" pTooltip="Editar"
          matTooltipPosition="above" (click)="editarMedicamentoDialog(product)">
          <mat-icon>edit</mat-icon>
        </p-button>

        <p-button *ngIf="urlAction === '/gestionar-inventario'"
          styleClass="p-button-danger p-button-sm p-button-rounded p-button-text m-1" pTooltip="Eliminar"
          matTooltipPosition="above" (click)="eliminarMedicamentoDialog(product)">
          <mat-icon>delete</mat-icon>
        </p-button>

      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      Total: {{products ? products.length : 0 }} productos.
    </div>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="8">
        <div class="m-2 p-2 mt-2 mb-2 ui-messages ui-messages-info ui-corner-all text-center p-3">
          <span class="ui-messages-icon pi pi-info-circle pr-1 text-xs"></span>
          <span class="ui-messages-detail font-size-15 mt-1">
            No se encontraron registros que coincidan con los criterios búsqueda ingresados.
          </span>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog *ngIf="dataFila" header="Producto Seleccionado" [modal]="true" [(visible)]="visible" [style]="{width: '40vw'}"
  [draggable]="false" [resizable]="false">
  <div class="grid pt-2 px-1 mx-auto">

    <div class="col-6 pb-1 mt-2">
      <div class="col-12 pb-0 ml-2 pt-0">
        <label class="label-color mb-0">Cantidad en existencia</label>
      </div>
      <div class="col-12 pt-0 pb-1">
        <span class="ml-2 span-size-style">{{ dataFila.cantidadStock }}</span>
      </div>
    </div>

    <div class="col-6 pb-1">
      <div class="flex">
        <div class="barra-vertical"></div>
        <div class="mt-2">
          <div class="col-12 pb-0 ml-2 pt-0">
            <label class="label-color mb-0">Nombre</label>
          </div>
          <div class="col-12 pt-0 pb-1">
            <span class="ml-2 span-size-style">{{ dataFila.nombre}}</span>
          </div>
        </div>
      </div>
    </div>
    <form [formGroup]="formCantidadVender" novalidate autocomplete="off" class="p-card-body pt-2">
      <div class="grid">
        <div class="col-12">
          <label for="cantidadVender" class="font-medium">Cantidad a vender</label>
          <input id="cantidadVender" type="number" formControlName="cantidadVender" 
          class="p-inputtext ml-1" appOnlyNumbers>
        </div>
      </div>
    </form>
  </div>

  <div class="col-12 barra pt-2"></div>
  <div class="flex justify-content-center">
    <p-button inputId="papeleria_inventario_caja_btn_aceptar" label="Aceptar"
      class="flex flex-wrap align-content-center mr-2" clasesBoton="p-component text-sm shadow-none"
      clasesIcono="font-medium" icon="pi pi-check" styleClass="p-button-rounded p-button-sm" titulo="Aceptar"
      (click)="clickVender(dataFila)" [disabled]="this.formCantidadVender.invalid" />

    <p-button inputId="papeleria_inventario_caja_btn_cerrar" label="Cerrar"
      class="flex flex-wrap align-content-center ml-2" clasesBoton="p-component text-sm shadow-none"
      clasesIcono="font-medium" icon="pi pi-times" titulo="Cerrar" (click)="cerrarModal()"
      styleClass="p-button-rounded p-button-sm surface-600" />
  </div>
</p-dialog>

<p-dialog *ngIf="productosVenta" header="Listado de productos Venta" [modal]="true" [(visible)]="visibleListadoVenta"
  [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">

  <form *ngIf="visibleListadoVenta" [formGroup]="formCodProducto" novalidate autocomplete="off" class="p-card-body pt-2">
    <p-card class="m-5">
    <div class="grid">
      <div class="col-4">
        <label for="codigoProducto" class="font-medium">Agregar por codigo producto</label>
        <input id="codigoProducto" type="text" formControlName="codigoProducto" 
        class="p-inputtext ml-1 mt-2" (keydown.enter)="AceptarCodProdcuto($event)"
        appOnlyNumbers>
      </div>
    </div>
  </p-card>
  </form>
  
  <div class="grid grid-nogutter">
    <div class="col-12" *ngFor="let item of productosVenta; let first = first; let i = index">
      <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4"
        [ngClass]="{ 'border-top-1 surface-border': !first }">
        <div
          class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
          <div class="flex flex-column align-items-center sm:align-items-start gap-3">
            <div class="text-2xl font-bold text-900">{{ item.nombre }}</div>
            <div>
              <label for="cantidad" class="font-medium">Cantidad</label>
              <input type="number" [(ngModel)]="item.cantidad" 
              class="p-inputtext ml-1" appOnlyNumbers (input)="validarCantidad($event)">
            </div>
          </div>
          <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
            <label for="valorUnitario" class="text-sm font-semibold">Valor Unitario</label>
            <span class="text-sm font-semibold">{{ '$' + item.valorUnitario }}</span>
          </div>
          <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
            <label for="valorUnitario" class="text-sm font-semibold">Valor Total</label>
            <span class="text-sm font-semibold">{{ '$' + item.cantidad * item.valorUnitario }}</span>
          </div>
          <button (click)="eliminarVentaListado(i)" type="button" pButton
            class="align-items-center p-button-sm p-button-danger p-button-rounded m-1" icon="pi pi-trash">
            </button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-content-between">
    <button (click)="cancelarVentaListado()" type="button" pButton
      class="p-button-sm p-button-danger p-button-rounded m-1">
      Cancelar Venta
    </button>
    <div class="mt-2 flex-row-reverse align-items-end">
      <button (click)="cerrarModalListadoVenta()" type="button" pButton
        class="p-button-sm p-button-secondary p-button-rounded m-1">
        Cerrar
      </button>
      <button (click)="!isCantidadInputDetail? actualizarCantidades():null" pButton
       class="p-button-sm p-button-success p-button-rounded m-1" [disabled]="isCantidadInputDetail">
        Aceptar
      </button>
    </div>
  </div>


</p-dialog>

<div *ngIf="!products " class="flex align-items-center justify-content-center pt-2 pb-2">
  <p-card header="Información Importante" subheader="Productos" [style]="{ width: '20rem' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
    </ng-template>
    <p>
      Hola, si deseas ver tus productos por favor haz Clic en el boton de color azul llamado filtrar!
    </p>
  </p-card>
</div>